.root {
  align-items: baseline;
  display: flex;
  transition: opacity 0.05s;
  margin-bottom: 0.25um;
  line-height: initial;
  min-height: 1um;
  position: relative;
}

.root:not(.dragInProgress):hover .portOption {
  opacity: 1;
  pointer-events: all;
}

.spaceholder {
  flex-grow: 1;
}

.isInvisible {
  opacity: 0;
  pointer-events: none;
}

.root .name {
  color: #525252;
}
