.root {
  align-items: flex-start;
  display: flex;
}

.root.disabled {
  pointer-events: none;
}

.root:not(.disabled):hover .portOption {
  pointer-events: all;
  opacity: 1;
}

.spaceholder {
  flex-grow: 1;
}
